*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #F7E8DC;
}
#app{
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
  place-items: center;
}